zappy_ref-v3.0.1
__pycache__/
#these are all binaries and therforeshould not be pushed
zappy_server
zappy_gui
zappy_gui.pck
#for the ai, jad will have to figure out how to compile it
zappy_ai
.vscode
.cache
*.o
*.out
*.a
*.so
*.tmp
*.txt
!CMakeLists.txt
*.log


#cmake
build/
.cache/

*.json
!CMakePresets.json

#this one is for pr issue

ISSUES.md
